@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundSign{
    background-color: #2c2d2d;
}

.buttonColor{
    background-color: #5677FC;
}

.mainFont{
    font-family: 'Roboto', sans-serif;
}

.active {
    color: #5677FC; 
}